form{
font-size: large;

}
input{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
}
button{
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
}
